body {
    background: url('../img/img3.jpg');
}
.logo {
    position: relative;
    max-width: 1000px;
    min-height: 100px;
    display: grid;
    grid-template-columns:150px 130px 100px;
}
.welcome {
    position: relative;
    margin: 200px;
    padding: 50px;
    max-width: 2000px;
    background: rgba(221, 209, 209, 0.454);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.welcome_ h1{
    margin-bottom: 20px;
    font-size: 4rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.971);
}
